.seats-header {
  font-size: 24px;
  margin: 20px 0;
  background-color: #b24bf3;
  padding: 10px;
  color: white;
}

.checkout {
  font-size: 18px;
  margin: 20px 0;
  background-color: #b24bf3;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.back-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  width:3em;
}
