.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.back-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}
