.showtimes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time {
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.time:hover {
  background-color: #ccc;
}

.loading {
  font-size: 1.2em;
  color: #666;
  height:350px;
  align-items: center;
}
