
.nav {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 80px;
  font-size: 24px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
}

.login {
  align-items: center;
  display: flex;
  gap: 15px;
  font-size: 18px;
  cursor: pointer;
}
